<section id="about" class="about">
  <div class="about-content">
    <p class="section-title">About Me</p>
    <p>Hi there 👋 I'm Nati, I'm currently working remote as <b>UI/UX Designer</b> for <a class="cta-underline" href="https://impulso.network/">Impulso</a>. When I'm not on Figma creating wireframes and prototypes, I'm on Visual Studio Code developing websites and landing pages. Some other times I'm illustrating or drinking coffee. Here is a list of my main skills:</p>
    <ul class="ul-about">
      <li>User interface</li>
      <li>Design System</li>
      <li>Icon Design</li>
      <li>User Experience</li>
      <li>UI Development</li>
      <li>Responsiveness</li>
      <li>Accessibility</li>
      <li>Interaction Design</li>
    </ul>
    <a class="cta-underline" href="https://www.natisoares.com/assets/resume/resume-natalia-soares-2020.pdf" target="_blank">Resumé</a>
  </div>
  <div class="about-img"><img class="img-border" src="/assets/images/about/nati-2020-square.jpg" alt="Nati Soares"></div>
</section>