<footer id="contact">
  <h1>Contact me!</h1>
  <p class="paragraph">Hi there! I'm currently available for freelance, so <a class="btn-simple" href="mailto:hello@natisoares.com">drop me a line</a> and let's talk about your project.</p>

  <a class="footer-social-link" href="https://www.linkedin.com/in/nataliasoaressousa/" target="_blank">LinkedIn</a> &#8226;
  <a class="footer-social-link" href="https://www.behance.net/natsoaress" target="_blank">Behance</a> &#8226;
  <a class="footer-social-link" href="https://github.com/natsoares" target="_blank">GitHub</a>

  <p class="bye">© 2015 - {{ 'now' | date: "%Y" }}  Nati Soares</p>

</footer>