<header id="home" class="header">
  <a class="section-title-logo" data-soffset="30" href="/">Nati Soares</a>
  {% include component/menu.html %}
</header>

<div>
  <input type="checkbox" id="menu-responsive-toggle" name="" value=""/>
  <div class="menu-responsive">
      <label for="menu-responsive-toggle" class="menu-responsive-toggle-button" id="menu-responsive-toggle-close">
          <div class="menu-responsive-icon"><span></span></div>
      </label>
      <div id="main-menu">
          {% include component/menu.html %}
      </div>
  </div>
</div>