<header id="home">
    <ul class="menu">
        <li><a class="scroll-link" data-soffset="30" href="#portfolio">Work</a></li>
        <li><a class="scroll-link" data-soffset="30" href="#blog">Blog</a></li>
        <li><a class="scroll-link logo-link" data-soffset="30" href="/"><img src="/assets/images/logo/nati-soares.svg" alt="Nati Soares"></a></li>
        <li><a class="scroll-link" data-soffset="30" href="#about">About</a></li>
        <li><a class="scroll-link" data-soffset="30" href="#contact">Contact</a></li>
    </ul>
</header>