.banner
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin: 2em 0
    text-align: center

    h1, p
        width: 35%
    h1
        margin-bottom: 2rem