footer
    @extend .container
    text-align: center
    margin-bottom: 2em

    .paragraph
        margin: 2em

    .footer-social-link
        display: inline-block
        margin: 0 1em 2em

    .bye
        font-size: .85em
        margin-top: 1em