$portfolio-blockheight: 20em

.portfolio
    @extend .container
    align-items: flex-start
    display: flex
    flex-flow: column wrap
    justify-content: space-between
    max-height: calc(#{$portfolio-blockheight} * 3 + 5em)

    &-img
        height: $portfolio-blockheight
        margin-bottom: 1em
        width: 50%

        &:first-of-type
            height: calc(#{$portfolio-blockheight}  * 2 + 1em)

        .access
            background: red
            display: flex
            height: 100%
            width: 95%

    &-description
        align-self: flex-end
        background: white
        display: flex
        flex-flow: column
        padding: 2em
        width: 60%