<div class="portfolio-img portfolio-impulso">
  <a class="access" href="/portfolio/impulso">
    <div class="portfolio-description">
      <h3 class="description-title">Design System, Website and Landing Pages</h3>
      <p>At <i>Impulso</i> I design user interfaces and developed websites, landing pages and email templates.</p>
      <p class="cta-underline">Read More</p>
    </div>
  </a>
</div>

<div class="portfolio-img portfolio-smartguest">
  <a class="access" href="/portfolio/smartguest">
    <div class="portfolio-description">
      <h3 class="description-title">Design App interface</h3>
      <p>Create user interface and design user's flow for <i>SmartGuest</i>, a Hotel App</p>
      <p class="cta-underline">Read More</p>
    </div>
  </a>
</div>

<div class="portfolio-img portfolio-leadwise">
  <a class="access" href="/portfolio/leadwise">
    <div class="portfolio-description">
      <h3 class="description-title">Web Interface Design</h3>
      <p>UI/UX Design & Front-End for <i>LeadWise & Semco Style Toolkit</i></p>
      <p class="cta-underline">Read More</p>
    </div>
  </a>
</div>

<div class="portfolio-img portfolio-boletosimples">
  <a class="access" href="/portfolio/boletosimples">
    <div class="portfolio-description">
      <h3 class="description-title">Web Interface Design</h3>
      <p>UI/UX Design & Front-End for <i>Boleto Simples</i></p>
      <p class="cta-underline">Read More</p>
    </div>
  </a>
</div>