@import url('https://fonts.googleapis.com/css?family=Lato&display=swap')

*
  font-family: 'Lato', sans-serif
  font-weight: 300

h1, h5, p, a
  color: $color-font-black

a
  text-decoration: none

b
  font-weight: 700

h1
  font-size: 3em
  @media screen and (max-width: $mobile)
    font-size: 2em

h4
  color: $color-aqua
  font-weight: 700
  letter-spacing: .5em
  text-align: center
  text-transform: uppercase
  margin-bottom: 2em

h1, p
  margin: 0
  line-height: 1.6em
