//colours
$color-font-black: rgba(0,0,0,.75)
$color-font-white: rgba(255,255,255,.90)
$color-light-bg: rgba(0,0,0,.05)
$color-dark-bg: rgba(0,0,0,.75)
$color-black: #000000
$color-aqua: #33CCCC
$color-magenta: #FF0099
$color-aqua-alpha:  rgba(71,193,196,.9)

//responsive
$mobile: 750px
$tablet: 1099px
$desktop: 1100px