<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="move-area">

    {% include sections/header.html %}

    {{ content }}

    <section class="highlight">
      <p><b>CHECKOUT MORE OF WHAT I DO:</b></p>
      <a href="https://www.linkedin.com/in/nataliasoaressousa/" target="_blank"><img class="social-icon" src="/assets/images/social-icon-sprite.svg#linkedin" alt="linkedin"></a>
      <a href="https://www.behance.net/natsoaress" target="_blank"><img class="social-icon" src="/assets/images/social-icon-sprite.svg#behance" alt="behance"></a>
      <a href="https://github.com/natsoares" target="_blank"><img class="social-icon" src="/assets/images/social-icon-sprite.svg#github" alt="github"></a>
    </section>

    {% include sections/footer.html %}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ base }}/assets/javascripts/action.js"></script>
</body>

</html>


